{% extends "dashboard_base.html" %}
{% load i18n humanize %}
{% block page_title %}{% trans "Classrooms" %}{% endblock %}
{% block canonical_path %}dash/classrooms/{% endblock %}
{% block dashboard_content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{% trans "Classrooms" %}</h1>
    </div>
    <h2>{% trans "Enrolled classrooms" %}</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>#</th>
                <th>{% trans "Course" %}</th>
                <th>{% trans "Degree" %}</th>
                <th>{% trans "Teachers" %}</th>
                <th>{% trans "Students" %}</th>
                <th>{% trans "Upcoming exam" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for classroom in classrooms %}
            <tr>
                <td><a href="{% url "web:exams_dashboard" %}?classroom={{ classroom.pk }}">{{ classroom.name }}</a></td>
                <td>{{ classroom.course_code }}</td>
                <td>{{ classroom.get_degree_display }}</td>
                <td>{{ classroom.printable_teachers }}</td>
                <td>{{ classroom.students_count }}</td>
                <td>
                    {% with classroom.upcoming_exam as upcoming_exam %}
                    {% if upcoming_exam %}{{ upcoming_exam.title }} ({{ upcoming_exam.start_time|naturaltime }}){% else %}-{% endif %}
                    {% endwith %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
