{% extends "dashboard_base.html" %}
{% load i18n humanize %}
{% block page_title %}{% trans "Exams" %}{% endblock %}
{% block canonical_path %}dash/exams/{% endblock %}
{% block dashboard_content %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{% trans "Exams" %}</h1>
        </div>
        <h2>{% trans "Upcoming exams" %}{% if classroom %} (
            {{ classroom.name }}{% if classroom.course_code %} - {{ classroom.course_code }}){% endif %}{% endif %}</h2>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>{% trans "Exam" %}</th>
                    {% if not classroom %}
                        <th>{% trans "Classroom" %}</th>{% endif %}
                    <th>{% trans "Starts" %}</th>
                    <th>{% trans "Ends" %}</th>
                    <th>{% trans "Duration" %}</th>
                    <th>{% trans "Attend" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for exam in exams %}
                    <tr>
                        <td>{{ exam.title }}</td>
                        {% if not classroom %}
                            <td>
                                <a href="{% url "web:classrooms" %}?classroom={{ exam.classroom.pk }}">{{ exam.classroom }}</a>
                            </td>{% endif %}
                        <td>{{ exam.start_time }}</td>
                        <td>{{ exam.end_time }}</td>
                        <td>
                            {% blocktrans with duration=exam.duration_in_minutes %}
                                {{ duration }} minutes
                            {% endblocktrans %}
                        </td>
                        <td>
                            {% if exam.is_open %}
                                <a href="{% url "web:exam_page" exam_id=exam.id %}">{% trans "Start" %}</a>
                            {% else %}
                                {% trans "Not started" %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}
