{% extends "dashboard_base.html" %}
{% load i18n humanize %}
{% block page_title %}{% trans "Student Dashboard" %}{% endblock %}
{% block canonical_path %}dash/{% endblock %}
{% block dashboard_content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{% trans "Dashboard" %}</h1>
    </div>
</main>
{% endblock %}
