{% extends "base.html" %}
{% load i18n static %}
{% block canonical_path %}login{% endblock %}
{% block extra_css %}
    <link href="{% static "css/login.css" %}" rel="stylesheet">{% endblock %}
{% block page_title %}{% trans "Login" %}{% endblock %}
{% block header %}{% endblock %}
{% block entire_block %}
    <main class="form-signin">
        <form method="post">
            {% csrf_token %}
            <h3>{% trans "DEMS" %}</h3>
            <h1 class="h3 mb-3 fw-normal">{% trans "Please, enter login details" %}</h1>
            {% for field in form %}
                <label class="visually-hidden" for="{{ field.auto_id }}">{{ field.label }}</label>
                {{ field }}
                {{ field.errors }}
            {% endfor %}
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember_me"> {% trans "Remember me" %}
                </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">{% trans "Login" %}</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2021 DEMS</p>
        </form>
    </main>
{% endblock %}
