<!doctype html>
{% load i18n static %}{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% trans "Digital Exam Management System - Manage your coding exams online." %}">
    <meta name="keywords" content="digital, exam, coding, manage, online, python">
    <meta name="author" content="Emin Mastizada">
    <title>{% block page_title %}{% endblock %} - DEMS</title>
    {% block canonical_url %}
        <link rel="canonical" href="https://dems.debugwith.me/{% block canonical_path %}{% endblock %}">{% endblock %}
    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/extra.css" %}" rel="stylesheet">
    {% block extra_css %}{% endblock %}

    <!-- Favicons -->
    {#    <link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">#}
    {#    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">#}
    {#    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">#}
    {#    <link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">#}
    {#    <link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">#}
    {#    <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">#}
    {#    <meta name="theme-color" content="#7952b3">#}

</head>
<body>
{% block header %}
    <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <p class="h5 my-0 me-md-auto fw-normal" title="{% trans "Digital Exam Management System" %}">DEMS</p>
        {% if request.user.is_authenticated %}
            <a class="nav-link dropdown-toggle" href="#" id="userDropdownToggle" data-bs-toggle="dropdown"
               aria-expanded="false">{{ request.user }}</a>
            <ul class="dropdown-menu" aria-labelledby="userDropdownToggle">
                <li><a class="dropdown-item" href="{% url "web:student_dashboard" %}">{% trans "Dashboard" %}</a></li>
                <li><a class="dropdown-item" href="{% url "web:classrooms" %}">{% trans "Classrooms" %}</a></li>
                <li><a class="dropdown-item" href="#">{% trans "Scores" %}</a></li>
            </ul>
        {% else %}
            <a class="btn btn-outline-primary" href="{% url "web:login" %}">{% trans "Login" %}</a>
        {% endif %}
    </header>
{% endblock %}
{% block entire_block %}
    <main class="container">
        {% block container %}{% endblock %}
        {% block footer %}
            <footer class="pt-4 my-md-5 pt-md-5 border-top">
                <div class="row">
                    <div class="col-12 col-md">
                        <img class="mb-2" src="logo" alt="" width="24" height="19">
                        <small class="d-block mb-3 text-muted">&copy; 2021 DEMS</small>
                    </div>
                    <div class="col-6 col-md">

                    </div>
                    <div class="col-6 col-md">

                    </div>
                    <div class="col-6 col-md">
                        <h5>{% trans "About" %}</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="link-secondary" href="#">{% trans "Source code" %}</a> <i
                                    class="fab fa-gitlab"></i></li>
                            <li><a class="link-secondary" href="#">{% trans "About" %}</a> <i class="fas fa-info"></i>
                            </li>
                            <li><a class="link-secondary" href="#">{% trans "Terms & Privacy" %}</a> <i
                                    class="fas fa-file-contract"></i></li>
                        </ul>
                    </div>
                </div>
            </footer>
        {% endblock %}
    </main>
{% endblock %}
<script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/bootstrap.bundle.min.js" %}"></script>
<script type="text/javascript" src="{% static "js/fontawesome.all.min.js" %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>

