{% extends "base.html" %}
{% load i18n static %}
{% block extra_css %}
    <link href="{% static "css/dashboard.css" %}" rel="stylesheet">
    {% block dashboard_css %}{% endblock %}
{% endblock %}

{% block header %}
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">DEMS</a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
                aria-label="{% trans "Toggle navigation" %}">
            <span class="navbar-toggler-icon"></span>
        </button>
        <input class="form-control form-control-dark w-100" type="text" placeholder="{% trans "Search" %}"
               aria-label="{% trans "Search" %}">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="{% url "web:logout" %}">{% trans "Sign out" %}</a>
            </li>
        </ul>
    </header>
{% endblock %}
{% block entire_block %}
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link{% if not page_slug or page_slug == "dashindex"%} active{% endif %}" aria-current="page" href="{% url "web:student_dashboard" %}">
                                <i class="fas fa-home"></i>
                                {% trans "Dashboard" %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link{% if page_slug == "classrooms" %} active{% endif %}" href="{% url "web:classrooms" %}">
                                <i class="fas fa-university"></i>
                                {% trans "Classrooms" %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link{% if page_slug == "scores" %} active{% endif %}" href="#">
                                <i class="fas fa-star-half-alt"></i>
                                {% trans "Scores" %}
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link{% if page_slug == "exams" %} active{% endif %}" href="{% url "web:exams_dashboard" %}">
                                <i class="fas fa-laptop-code"></i>
                                {% trans "Exams" %}
                            </a>
                        </li>
                    </ul>
                    {% block extra_dash_sidebar %}{% endblock %}
                </div>
            </nav>
            {% block dashboard_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
