{% extends "base.html" %}
{% load i18n %}
{% block page_title %}{% trans "Homepage" %}{% endblock %}
{% block container %}
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h1 class="display-4">{% trans "Digital Exam Management System" %}</h1>
        <p class="lead">{% trans "Manage your coding exams online." %}</p>
    </div>

    <div class="row row-cols-1 row-cols-md-2 homepage-function-list text-center">
        <div class="col">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 fw-normal">{% trans "Students" %}</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>{% trans "Online code testing" %}</li>
                        <li>{% trans "Quick exam results" %}</li>
                        <li>{% trans "Syntax checking" %}</li>
                    </ul>
                    <a href="{% url "web:login" %}" type="button"
                       class="w-100 btn btn-lg btn-outline-primary">{% trans "Login" %}</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 fw-normal">{% trans "Teachers" %}</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>{% trans "Host online exams" %}</li>
                        <li>{% trans "Automatic grading" %}</li>
                        <li>{% trans "Import/Export" %}</li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-primary disabled"
                            disabled>{% trans "Contact the department" %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
