{% load i18n %}
<form>
    {% csrf_token %}
{% for option, value in question.question.choices.items %}
    <div class="form-check">
        <input class="form-check-input" type="radio" name="solution" id="response_choice{{ forloop.counter }}" value="{{ option }}"{% if response and option == response.solution %} checked{% endif %}>
        <label class="form-check-label" for="response_choice{{ forloop.counter }}">{{ value }}</label>
    </div>
{% endfor %}
</form>
