{% load i18n %}
<form>
    {% csrf_token %}
<label class="visually-hidden" for="response_text">{% trans "Response" %}</label>
<textarea maxlength="{{ question.question.max_text_length }}" id="response_text" name="solution"
          placeholder="{% trans "Provide your answer here." %}" rows="7" class="response-text-area">{% if response %}{{ response.solution }}{% endif %}</textarea>
</form>
