{% extends "dashboard_base.html" %}
{% load i18n humanize dashtags %}
{% block page_title %}{{ exam.title }}{% endblock %}
{% block canonical_path %}dash/exams/{{ exam.pk }}/{% endblock %}
{% block extra_dash_sidebar %}
<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
  <span>{% trans "Questions" %}</span>
</h6>
<ol class="nav flex-column mb-2 question-nav-list">
    {% for question in exam.questions.all %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "web:question_page" exam.id question.id %}">
            {{ question.question.title }} ({% blocktrans with points=question.points %}{{ points }} points{% endblocktrans %})
        </a>
    </li>
    {% endfor %}
</ol>
{% endblock %}
{% block dashboard_content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ exam.title }}</h1>
    </div>
    <h2>{% trans "Questions" %}</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>{% trans "Question" %}</th>
                <th>{% trans "Type" %}</th>
                <th>{% trans "Points" %}</th>
                <th>{% trans "Answered" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for question in exam.questions.all %}
            <tr>
                <td><a href="{% url "web:question_page" exam.id question.id %}">{{ question.question.title }}</a></td>
                <td>{{ question.question.get_question_type_display }}</td>
                <td>{{ question.points }}</td>
                <td>
                    {% with request.user|question_response:question as response %}
                        {% if response %}
                            <i class="fas fa-check-circle color-green"></i>
                        {% else %}
                            <i class="fas fa-times-circle color-red"></i>
                        {% endif %}
                    {% endwith %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}
