{% extends "dashboard_base.html" %}
{% load i18n static humanize dashtags %}
{% block page_title %}{{ question.question.title }}{% endblock %}
{% block canonical_path %}dash/exams/{{ exam.pk }}/{{ question.pk }}/{% endblock %}
{% block extra_dash_sidebar %}
<h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
  <span>{% trans "Questions" %}</span>
</h6>
<ol class="nav flex-column mb-2 question-nav-list">
    {% for question in exam.questions.all %}
    <li class="nav-item">
        <a class="nav-link" href="{% url "web:question_page" exam.id question.id %}">
            {{ question.question.title }} ({% blocktrans with points=question.points %}{{ points }} points{% endblocktrans %})
        </a>
    </li>
    {% endfor %}
</ol>
{% endblock %}
{% block dashboard_content %}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ question.question.title }}</h1>
    </div>
    <h3>
        {{ question.question.description|markdown_to_html|safe }}
    </h3>
    {% if question.question.question_type == question_types.TEXT %}
        {% include "exam/_text_question.html" with exam=exam question=question response=response %}
    {% elif question.question.question_type == question_types.CHOICE %}
        {% include "exam/_choice_question.html" with exam=exam question=question response=response %}
    {% elif question.question.question_type == question_types.MULTI_CHOICE %}
        {% include "exam/_multi_choice_question.html" with exam=exam question=question response=response %}
    {% elif question.question.question_type == question_types.CODE %}
        {% include "exam/_code_question.html" with exam=exam question=question response_form=response_form response=response %}
    {% else %}
        <span class="color-red">
            {% blocktrans with question_type=question.question.get_question_type_display %}Unknown question type: {{ question_type }}{% endblocktrans %}
        </span>
    {% endif %}
    <div class="clear">&nbsp;</div>
    <div class="ajax-results">
        <span class="result-span"></span>
    </div>
    <div class="clear">&nbsp;</div>
    <div class="save-results">
        <button class="btn btn-success submit-response-button" title="{% trans "Save a response for this question." %}">{% trans "Submit" %}</button>
        <a href="{% url "web:exam_page" exam.id %}" class="btn btn-secondary"><i class="fas fa-step-backward"></i> {% trans "Return" %}</a>
        <button class="btn btn-danger remove-response-button" title="{% trans "Remove the response for this question." %}">{% trans "Remove" %}</button>
    </div>
</main>
{% endblock %}
{% block extra_js %}
    <!--suppress UnreachableCodeJS, JSJQueryEfficiency -->
    <script>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        let csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        function get_solution() {
            {% if question.question.question_type == question_types.TEXT %}
                return $("#response_text").val();
            {% elif question.question.question_type == question_types.CODE %}
                return $("#id_response").val();
            {% elif question.question.question_type == question_types.CHOICE %}
                return $("input[name='solution']:checked").val();
            {% elif question.question.question_type == question_types.MULTI_CHOICE %}
                let responses = [];
                $.each($("input[name='solution']:checked"), function(){
                    responses.push($(this).val());
                });
                return responses.join(",");
            {% endif %}
        }

        $(document).ready(function() {
            let submit_button = $(".submit-response-button");
            let remove_button = $(".remove-response-button");
            let result_box = $(".result-span");
            submit_button.on("click", function(e) {
                e.preventDefault();
                submit_button.prop("disabled", true);
                result_box.removeClass("color-red");
                result_box.removeClass("color-green");
                let response = get_solution();
                if (typeof response === "undefined") {
                    result_box.text("{% trans "Please, select one of the listed options." %}");
                    result_box.addClass("color-red");
                    submit_button.prop("disabled", false);
                    return;
                }
                $.ajax({
                    url: "{% url "web:question_evaluation_ajax" exam.pk question.pk %}",
                    type: "POST",
                    data: {
                        solution: response
                    },
                    success: function (data) {
                        result_box.text(data.message);
                        result_box.addClass("color-green");
                    },
                    error: function (xhr) {
                        let data = JSON.parse(xhr.responseText);
                        result_box.text(data.message);
                        result_box.addClass("color-red");
                    },
                });
                submit_button.prop("disabled", false);
            });
            remove_button.on("click", function (e) {
                e.preventDefault();
                remove_button.prop("disabled", true);
                result_box.removeClass("color-red");
                result_box.removeClass("color-green");
                $.ajax({
                    url: "{% url "web:question_evaluation_ajax" exam.pk question.pk %}",
                    type: "DELETE",
                    data: {},
                    success: function (data) {
                        result_box.text(data.message);
                        result_box.addClass("color-green");
                    },
                    error: function (xhr) {
                        let data = JSON.parse(xhr.responseText);
                        result_box.text(data.message);
                        result_box.addClass("color-red");
                    },
                });
                remove_button.prop("disabled", false);
            });
        });

    </script>
{% endblock %}
